
.odbe-almenu-container {
    right: 20px;
    top: 40px;
    position: fixed;
}
.odbealmenu {
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 5px;
    color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.odbealmenu li {
    padding: 10px;
    list-style: none;
    margin: 0 12px;
    display: inline-block;
}
.odbealmenu li a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform:uppercase;
}

.odbealmenu a:hover {
    color: red;
}

.kivalasztott {
    clear: both;
}